.header__logo {
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
}

/* @media screen and (max-width: 425px) {
    .header__logo {
        width: 103.74px;
        margin-bottom: 31.6px;
        height: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        padding-left: 27px;
    }
} */