.page {
    min-width: 320px;
    max-width: 1280px;
    height: 100vh;
    background: #000;
    font-family: Inter, Arial, sans-serif;
    color: #FFFFFF;
    /* правила для сглаживания шрифтовхром подобных */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* правила для масштабирования шрифтов */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}