.techs__text {
  margin: 26px 0 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 1020px) {
  .techs__text {
    margin: 22px 0 0;
    font-size: 12px;
  }    
}
@media screen and (max-width: 769px) {
  .techs__text {
    margin: 24px 0 0;
    font-size: 11px;
    line-height: 16px;
    max-width: 292px;
  }    
}