.register__button {
  margin: 69px 0 0;
  padding: 0;
  height: 45px;
  background: #4285F4;
  color: #FFF;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.register__button:hover {
  opacity: 0.8;
  background: #3456F3;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 426px) {
  .register__button {
    margin: 157px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}