.landing__title{
  grid-area: title;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
  margin: 75px 0 0 70px;
  padding: 0;
}
@media screen and (max-width: 1020px) {
  .landing__title {
    margin: 48px auto 0;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
  }    
}
@media screen and (max-width: 769px) {
  .landing__title {
    max-width: 450px;
    margin: 44px auto 0;
    font-size: 30px;
    line-height: 38px;
  }    
}
@media screen and (max-width: 426px) {
  .landing__title {
    margin: 44px 10px 0;
  }    
}