.portfolio {
  margin: 0 70px;
  padding: 0;
  position: relative;
}
@media screen and (max-width: 1020px) {
  .portfolio {
    margin: 0 50px;
  }
}
@media screen and (max-width: 769px) {
  .portfolio {
    margin: 0 18px;
  }
}