.promo__header{
  border-bottom: 1px solid #DADADA;
  height: 50px;
  display: flex;
  justify-content: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 110px 0 0;
}
@media screen and (max-width: 1020px) {
  .promo__header {
    margin: 90px 0 0;
    min-height: 27px;
  }
}
@media screen and (max-width: 769px) {
  .promo__header {
    margin: 70px 0 0;
    font-size: 18px;
    margin: 70px 0 0;
  }
}