.portfolio__arrow-img {
  margin: 0;
  padding: 0;
  max-height: 60px;
  max-width: 29px;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio__arrow-img:hover {
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .portfolio__arrow-img {
    max-width: 27px;
  }
}
@media screen and (max-width: 769px) {
  .portfolio__arrow-img {
    max-height: 28px;
    max-width: 18px;
  }
}