.movies__cards {
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  align-items: center;
  column-gap: 17px;
  display: grid;
  grid-template-columns: repeat(auto-fill,282px);
  justify-content: center;
  padding: 0;
  row-gap: 20px;
  border-top: 1px solid rgba(80, 80, 80, 1);
}