.landing__logo{
  grid-area: logo;
  max-height: 152px;
  max-width: 155px;
  border-radius: 0px;
  margin: 75px 70px 0 0;
  padding: 0;
  justify-self: end;
}
@media screen and (max-width: 769px) {
  .landing__logo {
    margin: 140px auto 0 auto;
  }    
}