.student__about {
  margin: 26px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
}
@media screen and (max-width: 1020px) {
  .student__about {
    margin: 20px 0 0;
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 769px) {
  .student__about {
    font-size: 11px;
    line-height: 16px;
  }
}